<!DOCTYPE html>
<html lang="id">

<head>
    {% include 'components/head.html' %}
</head>

<body>
    <!-- Video Background -->
    {% include 'components/video_background.html' %}

    <!-- Navbar -->
    {% include 'components/navbar.html' %}

    <!-- Hero Section -->
    {% include 'components/hero.html' %}

    <!-- Evaluation Section (Hidden by default) -->
    {% include 'components/evaluation_section.html' %}

    <!-- Dataset Section (Hidden by default) -->
    {% include 'components/dataset_section.html' %}

    <!-- JavaScript Modules (Load in order) -->
    <script src="/static/js/config.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/components.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/evaluation.js"></script>
    <script src="/static/js/dataset.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>
